Source: blankon-welcome
Section: gnome
Priority: optional
Maintainer: BlankOn Developers <BlankOn-dev@googlegroups.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://gitlab.com/blankon/blankon-welcome.git

Package: blankon-welcome
Architecture: all
Depends: ${misc:Depends}, gtk3
Description: BlankOn welcome and accessibility app.
